<html>
<head>
    <meta charset='utf-8'/>
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .map-overlay {
            font: 16px/28px 'Helvetica Neue', Arial, Helvetica, sans-serif;
            position: absolute;
            width: 25%;
            top: 0;
            left: 0;
            padding: 10px;
            background-color: transparent;
        }

        .map-overlay .map-overlay-inner {
            /*background-color: #fff;*/
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            padding: 10px;
            margin-bottom: 10px;
            background: rgba(1, 1, 1, .5);
            color: lightgrey;
        }

        .map-overlay h2 {
            line-height: 24px;
            display: block;
            margin: 0 0 10px;
        }

        #map {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }

        .mapboxgl-popup {
            min-width: 500px;
            max-width: 500px;
            font: 14px/20px 'Inconsolata', monospace;
        }

        .row {
            display: flex;
        }

        .column {
            flex: 50%;
            padding: 5px;
        }


        .mapboxgl-ctrl-logo {
            display: none !important;
        }
    </style>
</head>
<body>
<div id='map'>
    <!-- Modify the style: right position so it matches with the mapbox attribution -->
    <div id="attribution" class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-ctrl-bottom-right"
         style="position: fixed; bottom: 0; right: 50px;">
        <a href="*">Lampnets</a> &nbsp;|&nbsp;
        <a href="*">CSC4001 Course Project</a> &nbsp;|&nbsp;
        <a href="*">CUHK-Shenzhen</a> &nbsp;
    </div>
</div>
<div class="map-overlay top">
    <div class="map-overlay-inner">
        <h2>Traffic Analysis Overview</h2>
        <div>
            <b>Time:</b> <span id="time"></span><br>
            <b>Device Alive:</b> <span id="alive_count"></span><br>
            <b>Device Dead:</b> <span id="dead_count"></span><br>
            <b>Traffic Occupancy:</b> <span id="net_util"></span><br>
        </div>
    </div>
</div>
<script>
    mapboxgl.accessToken = '{{ ACCESS_KEY }}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/vito-swift/cka2nbo5i1nt61ioaouqw4fqv',
        zoom: 16,
        minZoom: 12,
        center: [114.215130, 22.693053],
        maxBounds: [
            [114.00, 22.47],
            [114.40, 22.87]
        ],
        bearing: 29,
        attributionControl: false
    });
    new Array(100).fill(0);

    var update_url = '/_update_frame';
    var init_url = '/_init_lamps';
    map.on('load', function () {
            var init_request = new XMLHttpRequest();
            init_request.open('GET', init_url, true);
            init_request.onload = function () {
                if (this.status >= 200 && this.status < 400) {
                    var json = JSON.parse(this.response);

                    // draw lines
                    drawLines();

                    function drawLines() {
                        route_1 = [];
                        for (i = 60; i < 74; i++) {
                            route_1.push([json[i][1], json[i][2]]);
                        }
                        route_1.push([json[15][1], json[15][2]]);
                        for (i = 75; i < 89; i++) {
                            route_1.push([json[i][1], json[i][2]]);
                        }
                        route_1.push([json[45][1], json[45][2]]);
                        for (i = 90; i < 100; i++) {
                            route_1.push([json[i][1], json[i][2]]);
                        }

                        route_2 = [];
                        for (i = 0; i < 30; i++) {
                            route_2.push([json[i][1], json[i][2]]);
                        }

                        route_3 = [];
                        for (i = 30; i < 60; i++) {
                            route_3.push([json[i][1], json[i][2]]);
                        }

                        var route_1_json = {
                            'type': 'Feature',
                            'properties': {},
                            'geometry': {
                                'type': 'LineString',
                                'coordinates': route_1
                            },
                        };

                        var route_2_json = {
                            'type': 'Feature',
                            'properties': {},
                            'geometry': {
                                'type': 'LineString',
                                'coordinates': route_2
                            },
                        };

                        var route_3_json = {
                            'type': 'Feature',
                            'properties': {},
                            'geometry': {
                                'type': 'LineString',
                                'coordinates': route_3
                            },
                        };

                        map.addSource('line_1', {
                            type: 'geojson',
                            lineMetrics: true,
                            data: route_1_json
                        });

                        map.addSource('line_2', {
                            type: 'geojson',
                            lineMetrics: true,
                            data: route_2_json
                        });

                        map.addSource('line_3', {
                            type: 'geojson',
                            lineMetrics: true,
                            data: route_3_json
                        });

                        map.addLayer({
                            type: 'line',
                            source: 'line_1',
                            id: 'line_1',
                            paint: {
                                'line-color': 'red',
                                'line-width': 8,
                                'line-opacity': 0.6,
                                'line-gradient': [
                                    'interpolate',
                                    ['linear'],
                                    ['line-progress'],
                                    0,
                                    'blue',
                                    0.1,
                                    'royalblue',
                                    0.3,
                                    'cyan',
                                    0.5,
                                    'lime',
                                    0.7,
                                    'yellow',
                                    1,
                                    'red'
                                ]
                            },
                            layout: {
                                'line-cap': 'round',
                                'line-join': 'round',
                            }
                        });

                        map.addLayer({
                            type: 'line',
                            source: 'line_2',
                            id: 'line_2',
                            paint: {
                                'line-color': 'red',
                                'line-width': 8,
                                'line-opacity': 0.6,
                                'line-gradient': [
                                    'interpolate',
                                    ['linear'],
                                    ['line-progress'],
                                    0,
                                    'blue',
                                    0.1,
                                    'royalblue',
                                    0.3,
                                    'cyan',
                                    0.5,
                                    'lime',
                                    0.7,
                                    'yellow',
                                    1,
                                    'red'
                                ]
                            },
                            layout: {
                                'line-cap': 'round',
                                'line-join': 'round',
                            }
                        });

                        map.addLayer({
                            type: 'line',
                            source: 'line_3',
                            id: 'line_3',
                            paint: {
                                'line-color': 'red',
                                'line-width': 8,
                                'line-opacity': 0.6,
                                'line-gradient': [
                                    'interpolate',
                                    ['linear'],
                                    ['line-progress'],
                                    0,
                                    'blue',
                                    0.1,
                                    'royalblue',
                                    0.3,
                                    'cyan',
                                    0.5,
                                    'lime',
                                    0.7,
                                    'yellow',
                                    1,
                                    'red'
                                ]
                            },
                            layout: {
                                'line-cap': 'round',
                                'line-join': 'round',
                            }
                        })

                    }

                    // draw markers
                    map.addLayer({
                        id: "lamps",
                        type: 'circle',
                        source: {
                            type: 'geojson',
                            data: "/_init_lamps_json"
                        },
                        paint: {
                            'circle-radius': 10,
                            'circle-color': [
                                'interpolate',
                                ['linear'],
                                ['number', ['get', 'task_type']],
                                0, '#8ea604',
                                1, '#f5bb00',
                                2, '#ec9f05',
                                3, '#c5410f',
                                5, '#c0c0c0'
                            ],
                            'circle-opacity': 0.8
                        }
                    });

                    map.addLayer({
                        id: "lamps-label",
                        type: "symbol",
                        source: {
                            type: 'geojson',
                            data: "/_init_lamps_json"
                        },
                        layout: {
                            "text-field": "{id}",
                            "text-font": [
                                "DIN Offc Pro Medium",
                                "Arial Unicode MS Bold"
                            ],
                            "text-size": 12
                        },
                    })
                }
            };
            init_request.send();

            // update routine
            var update_request = new XMLHttpRequest();
            window.setInterval(function () {
                var time_label = document.getElementById("time");
                var alive_label = document.getElementById("alive_count");
                var dead_label = document.getElementById("dead_count");
                var net_label = document.getElementById("net_util");

                var d = new Date();
                time_label.innerHTML = d.Format("yyyy-MM-dd hh:mm:ss");
                alive_label.innerHTML = 100;
                dead_label.innerHTML = 0;
                net_label.innerHTML = (randomIntFromInterval(30, 100)).toString() + "%";

                update_request.open('GET', update_url, true);
                update_request.onload = function () {
                    if (this.status >= 200 && this.status < 400) {
                        var json = JSON.parse(this.response);
                        map.getSource("lamps").setData(json);
                    }
                };
                update_request.send();

                function shuffle(array) {
                    var currentIndex = array.length, temporaryValue, randomIndex;

                    // While there remain elements to shuffle...
                    while (0 !== currentIndex) {

                        // Pick a remaining element...
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex -= 1;

                        // And swap it with the current element.
                        temporaryValue = array[currentIndex];
                        array[currentIndex] = array[randomIndex];
                        array[randomIndex] = temporaryValue;
                    }

                    return array;
                }

                color_array = ['#8ea604', '#f5bb00', '#ec9f05', '#d76a03', '#bf3100', '#c2b102'];
                partition_choice = [
                    [0.1, 0.3, 0.6, 0.8],
                    [0.2, 0.3, 0.4, 0.5],
                    [0.5, 0.7, 0.9, 0.95],
                    [0.2, 0.4, 0.6, 0.8],
                    [0.1, 0.3, 0.5, 0.7],
                    [0.3, 0.4, 0.6, 0.7]
                ];

                shuffle(color_array);
                shuffle(partition_choice);
                tmp_gradient = [
                    'interpolate',
                    ['linear'],
                    ['line-progress'],
                    0,
                    color_array[0],
                    partition_choice[0][0],
                    color_array[1],
                    partition_choice[0][1],
                    color_array[2],
                    partition_choice[0][2],
                    color_array[3],
                    partition_choice[0][3],
                    color_array[4],
                    1,
                    color_array[5]
                ];
                map.setPaintProperty('line_1', 'line-gradient', tmp_gradient);

                shuffle(color_array);
                shuffle(partition_choice);
                tmp_gradient = [
                    'interpolate',
                    ['linear'],
                    ['line-progress'],
                    0,
                    color_array[0],
                    partition_choice[0][0],
                    color_array[1],
                    partition_choice[0][1],
                    color_array[2],
                    partition_choice[0][2],
                    color_array[3],
                    partition_choice[0][3],
                    color_array[4],
                    1,
                    color_array[5]
                ];
                map.setPaintProperty('line_2', 'line-gradient', tmp_gradient);

                shuffle(color_array);
                shuffle(partition_choice);
                tmp_gradient = [
                    'interpolate',
                    ['linear'],
                    ['line-progress'],
                    0,
                    color_array[0],
                    partition_choice[0][0],
                    color_array[1],
                    partition_choice[0][1],
                    color_array[2],
                    partition_choice[0][2],
                    color_array[3],
                    partition_choice[0][3],
                    color_array[4],
                    1,
                    color_array[5]
                ];
                map.setPaintProperty('line_3', 'line-gradient', tmp_gradient);
            }, 1000);
        }
    );

    // add popups
    map.on('click', 'lamps', function (e) {
        console.log(e.features);
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map)
    });

    map.on('mouseenter', 'lamps', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    map.on('mouseleave', 'lamps', function () {
        map.getCanvas().style.cursor = '';
    });

    Date.prototype.Format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,
            "d+": this.getDate(),
            "h+": this.getHours(),
            "m+": this.getMinutes(),
            "s+": this.getSeconds(),
            "q+": Math.floor((this.getMonth() + 3) / 3),
            "S": this.getMilliseconds()
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };

    function randomIntFromInterval(min, max) { // min and max included
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('iframe')) {
        $('div.map-overlay-inner>div, div.map-overlay-inner>h2').hide();
        $('div.map-overlay-inner').append('⇱ Open Map');
        $('div.map-overlay-inner').css('width', 'max-content');
        $('div.map-overlay-inner').click(() => window.open(window.location.origin + window.location.pathname));
        $('div#attribution').hide();
    }
</script>
</body>
</html>